body {
    background-color: #d3d3d3;
    text-align: center;
}

h1 {
    color: green;
    font-family: fantasy;
}

input {
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-width: 2px;
    border-color: sienna;
    border-style: solid;

}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin: 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }